.sidebar-padding-left {
  padding-left: 30px;
}
.container_child {
  display: flex;
  align-items: center;
}
.child {
  float: left;
  padding: 10px;
}
.w-40{
  width: 40%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}